HH_APPLICATION_ID=com.zerologiceducation.hobbyhub
HH_RELEASE_STORE_FILE=/absolute/path/to/release-keystore.jks
HH_RELEASE_STORE_PASSWORD=your_store_password
HH_RELEASE_KEY_ALIAS=your_key_alias
HH_RELEASE_KEY_PASSWORD=your_key_password
